<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useFullscreenExpand="true"
	cropToFit="false"

>
  <image imageURL="images/10.jpg"
	thumbURL="thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\10.jpg">
    <title><![CDATA[The night we met... 29th May 2010]]></title>
    <caption><![CDATA[Before a night at the UoB SU, we watched the Eurovision Song Contest with some pre-drinks. Amy nearly didn't make the night having driven back from celebrating Sophie's Birthday the night before. Fortunately she did, little did she know what was to come... ]]></caption>
  </image>
  <image imageURL="images/11.jpg"
	thumbURL="thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\11.jpg">
    <title><![CDATA[First official date as a couple]]></title>
    <caption><![CDATA[The start of a tradition of finding a zoo wherever we go! ]]></caption>
  </image>
  <image imageURL="images/15.jpg"
	thumbURL="thumbs/15.jpg"
	linkURL="images/15.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\15.jpg">
    <title><![CDATA[Amy's 21st Birthday]]></title>
    <caption><![CDATA[Henry surprised Amy by driving to Brimingham from Preston to join her 21st Birthday Celebrations.]]></caption>
  </image>
  <image imageURL="images/20.jpg"
	thumbURL="thumbs/20.jpg"
	linkURL="images/20.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\20.png">
    <title><![CDATA[Disneyland Paris 2011]]></title>
    <caption><![CDATA[This was the first of our February weekend getaways; now an annual tradition.]]></caption>
  </image>
  <image imageURL="images/25.jpg"
	thumbURL="thumbs/25.jpg"
	linkURL="images/25.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\25.png">
    <title><![CDATA[1 Year Anniversary]]></title>
    <caption><![CDATA[For our first anniversary we took a trip down to Bournemouth. We hadn't really planned out the trip (a mistake never to be repeated since) and ended up with a Chinese takeaway on Asda picnic plates in our hotel room;  we still have some of the plates and cutlery!]]></caption>
  </image>
  <image imageURL="images/27.jpg"
	thumbURL="thumbs/27.jpg"
	linkURL="images/27.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\27.png">
    <title><![CDATA[Henry's 21st Birthday at Goldstone Hall]]></title>
    <caption><![CDATA[Copious amounts of Pimms led to a few mishaps during the speeches (and hopefully some lessons learned)]]></caption>
  </image>
  <image imageURL="images/35.jpg"
	thumbURL="thumbs/35.jpg"
	linkURL="images/35.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\35.png">
    <title><![CDATA[Cuba 2012]]></title>
    <caption><![CDATA[Our first big adventure saw us travel to the Island of Cuba for 2 weeks of sun, sea and sand in paradise. ]]></caption>
  </image>
  <image imageURL="images/38.jpg"
	thumbURL="thumbs/38.jpg"
	linkURL="images/38.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\38.png">
    <title><![CDATA[Cuba 2012]]></title>
    <caption><![CDATA[We took the opportunity to swim with dolphins. After an hour or so, we returned to shore to a lobster dinner. This was the first time Amy tried lobster, after much convincing, and now forms the basis of Henry's argument whenever he's getting her to try something new.]]></caption>
  </image>
  <image imageURL="images/40.jpg"
	thumbURL="thumbs/40.jpg"
	linkURL="images/40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\40.JPG">
    <title><![CDATA[Florida 2013/14]]></title>
    <caption><![CDATA[In December 2013 we took a trip to the sunshine state with the Mullees. Amy had never been outside of Orlando before and the week spent in Sarasota driving around the South-West coast sparked the idea of taking roadtrips around the USA.]]></caption>
  </image>
  <image imageURL="images/52.jpg"
	thumbURL="thumbs/52.jpg"
	linkURL="images/52.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\52.png">
    <title><![CDATA[Corfu 2014]]></title>
    <caption><![CDATA[By October 2014 we needed another holiday in the sun.  On our day trip to Corfu Town, we got half way up the Old Fortress (pictured) before the heavens opened and we ended up trapped in the bar for a couple of hours before we had to venture back across town to get the bus back. Not exactly a success...]]></caption>
  </image>
  <image imageURL="images/53.jpg"
	thumbURL="thumbs/53.jpg"
	linkURL="images/53.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\53.png">
    <title><![CDATA[Copenhagen 2015]]></title>
    <caption><![CDATA[Our first proper City break in February 2015. A beautiful city but bitterly cold!]]></caption>
  </image>
  <image imageURL="images/62.jpg"
	thumbURL="thumbs/62.jpg"
	linkURL="images/62.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\62.png">
    <title><![CDATA[America 2015]]></title>
    <caption><![CDATA[After seeing the photos from our trip to Walt Disney World in 2014, Debbie, who had said she never wanted to do Disney again, had a change of heart. So off we went for Sophie's 21st Birthday in June 2015. We decided this would be a great opportunity to embark upon our first USA Roadtrip so after watching the firework display over the Magic Kingdom we set off for a little adventure all of our own.]]></caption>
  </image>
  <image imageURL="images/66.jpg"
	thumbURL="thumbs/66.jpg"
	linkURL="images/66.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\66.png">
    <title><![CDATA[America 2015]]></title>
    <caption><![CDATA[On our mini-trip we stopped at Savannah, Atlanta, Charleston and Jacksonville and on our  way back to Orlando, we debated whether we would live in Savannah or Charleston when we get our green cards. It was agreed that moving around and seeing different places was definitely the way forward for us.]]></caption>
  </image>
  <image imageURL="images/71.jpg"
	thumbURL="thumbs/71.jpg"
	linkURL="images/71.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\71.png">
    <title><![CDATA[America 2015]]></title>
    <caption><![CDATA[Henry & Paul like golf, Amy & Debbie not so much - Sophie fits somewhere in between. Xmas themed mini-golf = perfect compromise.]]></caption>
  </image>
  <image imageURL="images/82.jpg"
	thumbURL="thumbs/82.jpg"
	linkURL="images/82.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\82.png">
    <title><![CDATA[Italy 2015]]></title>
    <caption><![CDATA[Debbie had been saying for years that we "must try cruising". "It's not like you think" she'd say so we thought we'd give it a try. So we did. And it wasn't. Seriously, if you haven't already, you must try it. Waking up in a new place & 5 meals a day prepared for you, what more do you need?]]></caption>
  </image>
  <image imageURL="images/86.jpg"
	thumbURL="thumbs/86.jpg"
	linkURL="images/86.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\86.png">
    <title><![CDATA[Budapest 2016]]></title>
    <caption><![CDATA[Had Amy been a bit more switched on, she maybe wouldn't have drank so much red wine on the river cruise on our first night in Budapest which left her feeling a little delicate the next morning. Luckily, by the time night fell and we'd walked up the hill in front of Buda Castle to get to Fisherman's Bastion all was well when Henry suddenly stopped and proposed. ]]></caption>
  </image>
  <image imageURL="images/87.jpg"
	thumbURL="thumbs/87.jpg"
	linkURL="images/87.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\87.jpg">
    <title><![CDATA[Budapest 2016]]></title>
    <caption><![CDATA[This is the spot where it happened. ]]></caption>
  </image>
  <image imageURL="images/92.jpg"
	thumbURL="thumbs/92.jpg"
	linkURL="images/92.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\92.png">
    <title><![CDATA[Italy, Montenegro & Corfu 2016]]></title>
    <caption><![CDATA[Once you've tried it you can't stop! We were back on-board P&O's Oceana within 10 months doing the 2nd week of the itinerary we had half done the year before.]]></caption>
  </image>
  <image imageURL="images/102.jpg"
	thumbURL="thumbs/102.jpg"
	linkURL="images/102.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\102.png">
    <title><![CDATA[New England 2016]]></title>
    <caption><![CDATA[Another big tick on the old Bucket List; seeing the fall in New England. Our first roadtrip only adventure state-side saw us travel across Massachusetts then up through Vermont, New Hampshire and Maine.]]></caption>
  </image>
  <image imageURL="images/107.jpg"
	thumbURL="thumbs/107.jpg"
	linkURL="images/107.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\107.png">
    <title><![CDATA[New England 2016]]></title>
    <caption><![CDATA[After pulling over in a quiet carpark in the Green Mountains, MA, we followed a short trail. Upon reaching the end of trail, the view opened up to reveal rolling hills covered in trees of red, orange and yellow. This is the kind of hidden gem we hope to stumble upon when we visit the Western States.]]></caption>
  </image>
  <image imageURL="images/131.jpg"
	thumbURL="thumbs/131.jpg"
	linkURL="images/131.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\131.png">
    <title><![CDATA[Prague 2017]]></title>
    <caption><![CDATA[To mark 1 year since the Proposal we visited Prague in February 2017. ]]></caption>
  </image>
  <image imageURL="images/120.jpg"
	thumbURL="thumbs/120.jpg"
	linkURL="images/120.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\120.JPG">
    <title><![CDATA[Birmingham Christmas Markets]]></title>
    <caption><![CDATA[Another annual tradition, wandering between the stalls sipping a Gluhwein and eating a Bratwurst. ]]></caption>
  </image>
  <image imageURL="images/121.jpg"
	thumbURL="thumbs/121.jpg"
	linkURL="images/121.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\121.JPG">
    <title><![CDATA[Loki]]></title>
    <caption><![CDATA[A favourite hang-out of ours in Birmingham, whether it be wine or gin tasting we always wind up in Loki.]]></caption>
  </image>
  <image imageURL="images/124.jpg"
	thumbURL="thumbs/124.jpg"
	linkURL="images/124.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\124.png">
    <title><![CDATA[Chatsworth]]></title>
    <caption><![CDATA[This place knows how to decorate for Christmas! #Decoratinggoals]]></caption>
  </image>
  <image imageURL="images/11048731_10155789207035171_516534106499252120_n.jpg"
	thumbURL="thumbs/11048731_10155789207035171_516534106499252120_n.jpg"
	linkURL="images/11048731_10155789207035171_516534106499252120_n.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\11048731_10155789207035171_516534106499252120_n.jpg">
    <title><![CDATA[Sophie, Debbie, Amy & Paul]]></title>
    <caption><![CDATA[Amy and her family celebrating Sophie's 21st Birthday.]]></caption>
  </image>
  <image imageURL="images/10945722_10153574555256562_2402815888366220737_o.jpg"
	thumbURL="thumbs/10945722_10153574555256562_2402815888366220737_o.jpg"
	linkURL="images/10945722_10153574555256562_2402815888366220737_o.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Henry\Desktop\New folder (3)\10945722_10153574555256562_2402815888366220737_o.jpg">
    <title><![CDATA[William, Thomas, Elaine, Arthur, Henry & Paul]]></title>
    <caption><![CDATA[Henry and his family celebrating Arthur's 21st Birthday.]]></caption>
  </image>
</juiceboxgallery>